<label for="preg" class="rem">Pregunta:</label>
<input type="text" name="quiz[pregunta]" id="preg" placeholder="<%=quiz.pregunta%>"/><br/>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" name="quiz[respuesta]" id="resp" placeholder="<%=quiz.respuesta%>"/><br/>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>