<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Answer</title>
</head>
<body>
    <h2>Quiz el juego de preguntas</h2> 
    <%= respuesta %>  
    <a href="http://localhost:5000/quizes/<%=quiz.id%>">Volver</a>
    
</body>
</html>