<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Questions</title>
</head>
<body>
<table>
    <%var i; for(i=0;i<quizes.length;i++){%>
    <tr>
        <td><a href="quizes/<%=quizes[i].id%>"><%=quizes[i].pregunta%></a></td>
    </tr>
    <%}%>
</table>
<a href="/quizes/new">
    <button>Crear pregunta</button></a>

</body>
</html>